/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/subset-ProximaNova-Bold.eot");
  src: url("../fonts/subset-ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-ProximaNova-Bold.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Bold.woff") format("woff"), url("../fonts/subset-ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/subset-ProximaNova-Regular.eot");
  src: url("../fonts/subset-ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-ProximaNova-Regular.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Regular.woff") format("woff"), url("../fonts/subset-ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/subset-ProximaNova-Light.eot");
  src: url("../fonts/subset-ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-ProximaNova-Light.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Light.woff") format("woff"), url("../fonts/subset-ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 12px;
  min-width: 320px;
}

.container {
  max-width: 1560px;
  padding: 0 15px;
  position: relative;
  margin: 0 auto;
  text-transform: uppercase;
}

.header {
  background: url(../images/football2.png) no-repeat center;
  background-size: cover;
  background-color: #0a0e34;
  color: #ffffff;
  position: relative;
  padding: 2.8125% 2.604167% 5.625% 2.604167%;
}
.header__logo_wrap {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 19.3%;
}
.header__logo_description {
  display: inherit;
  font-family: "Proxima Nova";
  font-weight: 300;
  letter-spacing: 0.7px;
  font-size: 1.166666em;
}
.header__line {
  position: absolute;
  width: 254px;
  height: 317px;
  top: 31.5%;
  left: 25.5%;
  z-index: 2;
}
.header__title {
  font-size: 7.5em;
  font-family: "Proxima Nova";
  font-weight: 700;
}
.header__title_wrap {
  position: relative;
  z-index: 2;
  letter-spacing: 4.5px;
}
.header__title_wrap--right {
  max-width: 70.5%;
  margin-left: auto;
  padding-top: 0.5%;
  letter-spacing: 4.18px;
  line-height: 78px;
  z-index: 1;
}
.header__nav_buttons_wrap {
  display: flex;
  flex-direction: column-reverse;
}
.header__nav {
  display: flex;
  justify-content: space-around;
}
.header__button {
  margin: 0 1.535948%;
  width: 311px;
  height: 77px;
}
.header__buttons_wrap {
  margin-top: 11.764701%;
  display: flex;
  justify-content: center;
}
.header__nav_wrap {
  margin-top: 1.307189%;
}

.logo {
  width: 100%;
}

.button {
  outline: none;
  font-family: "Proxima Nova";
  font-weight: 400;
  color: #ffffff;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 100px;
  box-shadow: 0 10px 16px #0a0e34;
  background-color: #5e42b0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.166667em;
}
.button_text {
  vertical-align: middle;
  text-align: start;
  display: inline-block;
  padding-left: 10%;
}
.button__icon {
  vertical-align: middle;
  display: inline-block;
  height: 39px;
}
.button span {
  font-family: "Proxima Nova";
  font-weight: 700;
}
.button:hover {
  outline: none;
  filter: saturate(150%);
}
.button:active {
  outline: none;
  background-color: #4d3691;
}

.line {
  stroke-width: 6px;
  stroke: #5d40ad;
}

.titles_wrap {
  margin: 0 auto;
}

.nav_item {
  color: #9071ea;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.8px;
  font-size: 1.166667em;
  margin-left: 3.267974%;
}

.nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.content__slider {
  display: none;
}

.main {
  overflow: hidden;
}

.article {
  font-family: "Proxima Nova";
  font-weight: 700;
}
.article__title {
  color: #c1c1c1;
  font-size: 3em;
  letter-spacing: 1.8px;
  padding-bottom: 21px;
  padding-left: 5px;
  clear: both;
  display: inline-block;
  text-transform: uppercase;
}
.article__paragraph {
  font-family: "Proxima Nova";
  font-weight: 400;
  text-transform: none;
  color: #000000;
  font-size: 1.666667em;
  line-height: 28px;
  letter-spacing: 1px;
}
.article__number {
  color: #000000;
  font-size: 1.5em;
  letter-spacing: 0.9px;
  position: relative;
  top: 4px;
  display: inline-block;
  vertical-align: top;
}
.article__number::after {
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
  position: absolute;
  bottom: -7px;
  left: 0;
}
.article__number--white_underline::after {
  background-color: #ffffff;
}

.main__section {
  position: relative;
}
.main__section--bgc_first {
  background-color: #f5f4fa;
}
.main__section--bgc_second {
  background-color: #5e42b0;
  padding-top: 25px;
  padding-bottom: 43px;
}
.main__section .content {
  max-width: 720px;
  margin-left: 52%;
  padding-left: 10px;
  padding-right: 20px;
}
.main__section .footballer {
  position: absolute;
  right: 48%;
  top: -40px;
}
.main__section__img_wrap {
  height: 0;
}
.main__section__title {
  color: #e7e7e7;
  font-family: "Proxima Nova";
  font-size: 90px;
  font-weight: 700;
  line-height: 120px;
  text-transform: uppercase;
}
.main__section__title_wrap {
  margin-top: 80px;
}
.main__section__article_wrap {
  padding: 63px 0 54px 0;
}
.main__section--reverse .content {
  margin-left: 7%;
  margin-right: 52%;
  padding-right: 10px;
  padding-left: 20px;
}
.main__section--reverse .basketballer {
  position: absolute;
  top: -109px;
  left: 42%;
}
.main__section--reverse .main__section--bgc_first {
  padding: 13px 0 16px 0;
}

.card {
  display: flex;
}
.card .container {
  margin: 0;
  width: 100%;
  max-width: 765px;
  padding: 242px 126px 122px 126px;
}
.card__image {
  flex-basis: 50%;
  background-image: url(../images/man.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card__content {
  flex-basis: 50%;
  position: relative;
}
.card__number {
  position: absolute;
  top: 211px;
  left: -84px;
  width: 168px;
  height: 155px;
  background-color: #5e42b0;
  display: flex;
}
.card__number--text {
  color: #ffffff;
  position: relative;
  margin: auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 1.2px;
}
.card__number--text:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #8e7bc8;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  bottom: 0;
}
.card__description {
  position: relative;
  text-transform: none;
  font-size: 24px;
  line-height: 28px;
  max-width: 510px;
  min-height: 169px;
  margin-top: 100px;
  padding-bottom: 10px;
}
.card__description:after {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
  bottom: 0;
  left: 0;
}
.card__title {
  color: #e7e7e7;
  font-size: 90px;
  font-weight: 700;
  line-height: 90px;
}
.card--last .card__image {
  background-image: url(../images/team.png);
}
.card--reverse {
  flex-direction: row-reverse;
}
.card--reverse .card__content {
  display: flex;
  justify-content: flex-end;
}
.card--reverse .card__image {
  background-image: url(../images/coach.png);
}
.card--reverse .card__number {
  right: -84px;
  left: auto;
}
.card--reverse .container {
  padding-left: 30px;
  padding-right: 90px;
}

.footer {
  background-image: url(../images/stadium.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(10, 14, 52, 0.9);
  padding-top: 230px;
}
.footer__download {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__download_wrap {
  z-index: 1;
  padding-left: 35px;
}
.footer__download::before {
  content: "";
  display: block;
  width: 130px;
  height: 137px;
  background-image: url(../images/button.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.footer__download::after {
  content: "";
  display: block;
  height: 314px;
  width: 612px;
  position: absolute;
  background-image: url(../images/footer_lines.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 60px;
  right: 0;
  margin: 0 auto;
  z-index: 0;
}
.footer__download__title {
  color: #ffffff;
  font-size: 90px;
  font-weight: 700;
  line-height: 73px;
  text-transform: uppercase;
  letter-spacing: 3.63px;
}
.footer__download__description {
  color: #a496ca;
  font-size: 36px;
  font-weight: 700;
  line-height: 34.49px;
  text-transform: uppercase;
}
.footer__copyright {
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(10, 14, 52, 0.6);
  margin-top: 200px;
  padding: 70px 50px;
  display: flex;
  justify-content: space-between;
}
.footer__copyright .logo_wrap {
  display: inline-block;
  vertical-align: top;
}
.footer__social_media {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 137px;
  display: flex;
  justify-content: space-between;
}
.footer__social_media svg {
  height: 27px;
  color: #ffffff;
}
.footer .copyright__item,
.footer .copyright span {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 1px;
}

@media (max-width: 1279px) {
  .nav {
    justify-content: center;
  }

  .line {
    stroke-width: 6px;
  }

  .nav_item {
    margin: 0 10px 8px 10px;
    letter-spacing: 0.8px;
    font-size: 1.333333em;
  }

  .button__icon {
    height: 39px;
  }

  .header {
    padding: 83px 31px 143px 31px;
  }
  .header__logo_wrap {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25%;
  }
  .header__logo_description {
    display: inherit;
    font-family: "Proxima Nova";
    font-weight: 300;
    letter-spacing: 0.7px;
    font-size: 1.166666em;
  }
  .header__line {
    position: absolute;
    width: 254px;
    height: 317px;
    top: 23.4%;
    left: 33.7%;
    z-index: 0;
  }
  .header__title {
    font-size: 5.333333em;
    font-family: "Proxima Nova";
    font-weight: 700;
  }
  .header__title_wrap {
    position: relative;
    z-index: 1;
    letter-spacing: 3.52px;
    padding-left: 92px;
  }
  .header__title_wrap--right {
    max-width: 76%;
    margin-left: auto;
    padding-top: 11px;
    letter-spacing: 3.2px;
    line-height: 78px;
  }
  .header__nav_buttons_wrap {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 245px;
  }
  .header__nav {
    display: flex;
    justify-content: space-around;
  }
  .header__button {
    width: 42.71978%;
    height: 77px;
  }
  .header__buttons_wrap {
    margin-top: 15.8%;
    display: flex;
    justify-content: space-around;
  }

  .article__paragraph {
    font-size: 1.5em;
  }

  .main__section img {
    height: 699px;
  }
  .main__section .footballer {
    top: 36px;
    left: -176px;
  }
  .main__section__title_wrap {
    margin-top: 57px;
  }
  .main__section .content {
    margin-left: 36%;
  }
  .main__section__article_wrap {
    padding: 20px 0 30px 0;
  }
  .main__section--bgc_first {
    padding-top: 25px;
  }
  .main__section--bgc_second {
    padding-top: 18px;
    padding-bottom: 0;
  }
  .main__section--reverse img {
    height: 565px;
  }
  .main__section--reverse .basketballer {
    top: -25px;
    right: -252px;
  }
  .main__section--reverse .content {
    margin-left: 0;
    margin-right: 36%;
    padding-right: 10px;
    padding-left: 17px;
  }
  .main__section--reverse .main__section--bgc_first {
    padding: 18px 0 35px 0;
  }
  .main__section--reverse .main__section--bgc_second {
    padding: 27px 0 15px 0;
  }

  .card {
    display: block;
  }
  .card__image {
    min-height: 584px;
  }
  .card .container {
    max-width: 100%;
    padding: 70px 34px 63px 34px;
  }
  .card__description {
    max-width: 100%;
    min-height: 88px;
    margin-top: 17px;
  }
  .card__number {
    width: 116px;
    height: 116px;
    top: -80px;
    left: 34px;
  }
  .card--reverse .card__number {
    right: auto;
    left: 34px;
  }

  .footer {
    padding-top: 340px;
  }
  .footer__download {
    padding-bottom: 80px;
  }
  .footer__download_wrap {
    padding: 0;
  }
  .footer__download::before {
    position: absolute;
    top: -210px;
  }
  .footer__download::after {
    left: -90px;
    width: 570px;
  }
  .footer__download__title {
    font-size: 80px;
    letter-spacing: 4.85px;
  }
  .footer__download__description {
    padding-left: 20px;
    padding-top: 16px;
    font-size: 36px;
  }
  .footer__copyright {
    padding: 33px;
    margin-top: 125px;
  }
  .footer__social_media {
    position: relative;
  }
  .footer .logo_wrap,
.footer .copyright {
    display: none;
  }
}
@media (max-width: 767px) {
  .content__slider {
    display: flex;
    background-color: #f5f4f9;
    padding: 80px 15px 27px 15px;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .logo {
    width: 137px;
    height: 24px;
  }

  .button_text {
    font-size: 0.666667em;
    padding-left: 10%;
    margin-top: -2px;
  }
  .button__icon {
    height: 18px;
  }

  .line {
    stroke-width: 6px;
  }

  .nav_item {
    font-size: 1em;
  }

  .header {
    padding: 93px 10px 23px 10px;
  }
  .header__logo_wrap {
    margin: 0 auto;
    max-width: 45.666667%;
    padding-bottom: 45%;
  }
  .header__title {
    font-size: 3.666667em;
    letter-spacing: 1.5px;
  }
  .header__title_wrap {
    padding: 0;
    position: relative;
    z-index: 1;
  }
  .header__title_wrap--right {
    max-width: 82%;
    margin-left: auto;
    padding-top: 5.5%;
    line-height: 38px;
  }
  .header__nav_buttons_wrap {
    margin-top: 20.8%;
    flex-direction: column;
  }
  .header__buttons_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__button {
    width: 47.333333%;
    height: 39px;
    margin: 0 4px;
  }
  .header__line {
    width: 170px;
    height: 220px;
    top: 30.5%;
    left: 35%;
    z-index: 0;
  }
  .header__nav {
    margin-top: 15%;
    justify-content: space-around;
  }
  .header__logo_description {
    display: none;
  }

  .main__section__title {
    font-size: 50px;
    line-height: 60px;
  }
  .main__section .content {
    margin: 0;
    padding-top: 15px;
    padding-left: 5px;
  }
  .main__section__img_wrap {
    height: 230px;
  }
  .main__section img {
    height: 281px;
  }
  .main__section .basketballer {
    display: block;
    margin: 0 auto;
    top: 100px;
    left: 0;
    right: 0;
  }
  .main__section .footballer {
    display: block;
    margin: 0 auto;
    top: 80px;
    left: 0;
    right: 0;
  }
  .main__section__article_wrap {
    display: none;
  }
  .main__section--bgc_first {
    display: none;
  }
  .main__section--bgc_second {
    display: none;
  }
  .main__section--reverse img {
    height: 248px;
  }
  .main__section--reverse .content {
    padding-top: 25px;
  }
  .main__section--reverse .content__slider {
    padding-bottom: 20px;
  }

  .article__number {
    font-size: 14px;
  }
  .article__title {
    font-size: 28px;
  }
  .article__paragraph {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.75px;
  }
  .article__number--white_underline::after {
    background-color: #5e42b0;
  }

  .fotorama__nav--dots .fotorama__nav__frame {
    width: 22px;
    height: 15px;
  }
  .fotorama__dot {
    left: 6px;
    top: 0px;
    border: none;
    background-color: #d8d8d8;
    width: 10px;
    height: 10px;
  }
  .fotorama__nav__frame.fotorama__active .fotorama__dot {
    width: 10px;
    height: 10px;
    background-color: #5c3caf;
  }
  .fotorama__stage {
    height: 10px;
  }

  .card__image {
    min-height: 351px;
  }
  .card .container {
    padding: 30px 20px 50px 20px;
  }
  .card__title {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 1.4px;
  }
  .card__description {
    min-height: 83px;
    font-size: 16px;
    line-height: 20px;
  }
  .card__number {
    width: 70px;
    height: 70px;
    top: -58px;
    left: 20px;
  }
  .card__number--text {
    font-size: 14px;
    line-height: 28px;
  }
  .card__number--text::after {
    height: 4px;
    border-radius: 2px;
  }

  .footer {
    padding-top: 225px;
  }
  .footer__download {
    padding-bottom: 16px;
  }
  .footer__download::after {
    left: 0;
    width: 223px;
  }
  .footer__download::before {
    width: 73px;
    height: 78px;
    position: absolute;
    top: -130px;
  }
  .footer__download__title {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 1.7px;
  }
  .footer__download__description {
    padding: 0;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.75px;
  }
  .footer__social_media svg {
    height: 18px;
  }
  .footer__copyright {
    padding: 15px;
    margin-top: 125px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0;
  }

  .header__title {
    font-size: 2.666667em;
    letter-spacing: 1.5px;
  }
  .header__line {
    width: 139px;
    height: 174px;
    top: 30.5%;
    left: 27%;
    z-index: 0;
  }
}
@media (max-width: 400px) {
  .button {
    font-size: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
